<h1>Edit Your Awesomeness</h1>
<%= form_for(@user) do |f| %>
		<%= render 'users/shared/error_messages' %>

	
	<div class="field">

		<%= f.label :name %>
		<%= f.text_field :name %><br />
	</div>
		
	<div class="field">	
		<%= f.label :email %>
		<%= f.text_field :email %><br />
	</div>
	<div class="field">		
		<%= f.label :password %>
		<%= f.password_field :password %>
		<%= f.label :password_confirmation, "Confirm" %>
	    <%= f.password_field :password_confirmation %><br />
	</div>	
	<div class="field">
	</div>
	
	<div class="actions">
		<%= f.submit "Update Awesomeness", :class => "signup_button2 round" %>
	</div>	

<div>

<a href=http://gravatar.com/emails" target=_blank><%= gravatar_for @user %>
	change me</a>

</div>

		
	

<% end %>