
<h1>Awesome Members</h1>

<div class="apple_pagination">
<%= will_paginate @user %>
</div>
<ul class="users">
	<% @users.each do |user| %>
	
	<li>
			<%= gravatar_for user, :size => 30 %>
			<%= link_to user.name, user %>

			<% if current_user.admin? %>
			|
			<%= link_to "delete", user, :method => :delete, :confirm => "Positive?!?!?",
										:title => "Delete #{user.name}" %>
										<% end %>
    </li>
	
	
	<% end %>
</ul>
<div class="apple_pagination">
<%= will_paginate @user%>
</div>



